""" [[package_name.title()|replace('_', '')]] Class """

class [[package_name.title()|replace('_', '')]]:
    """ [[package_name.title()|replace('_', '')]] class  """

    def __init__(self):
        """ Initialize [[package_name.title()|replace('_', '')]]. """

        pass

    def __repr__(self):
        """ Return [[package_name.title()|replace('_', '')]] name. """

        return self.__class__.__name__
