# `[[package_name]]`
Template to create Python packages

## Initial Setup

```bash
./setup.sh
```

## Update Dependencies

Add new dependencies to `requirements.in` and then run:

```bash
./update-deps.sh
```

[% if pytest -%]
## Test

`[[package_name]]` uses pytest to run unit tets:

```bash
./test.sh
```

[% endif -%]

## Local Usage

TODO

## Publish Package

TODO
