from setuptools import setup

with open("README.md", "r") as fh:
    long_description = fh.read()

with open('requirements.in') as fh:
    install_requires = fh.read().splitlines()

setup(
    name='[[package_name]]',
    version='0.0.1',
    license='MIT,',
    description='Template for creating generic Python packages',
    long_description=long_description,
    long_description_content_type="text/markdown",
    author='[[author_full_name]]',
    author_email='[[author_email]]',
    install_requires=install_requires,
    packages=['[[package_name]]'],
    python_requires='[[python_requires]]'
)
