#!/bin/sh

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

pyenv install [[python_version]] -s
pyenv virtualenv [[python_version]] [[package_name]]
./update-deps.sh

pyenv activate [[package_name]]
pre-commit install
